.msgCenter {
    margin-left: 20px;
    width: 200px;
    margin-top: 10%;
    align-items: center;
    margin-bottom: 10px;
    transition: transform .2s;
    border-color: #000000;
    border-width: 3px;
    border-radius: 10px;
    border-style: groove;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  }
@media (max-width: 500px) {
  .msgCenter {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    align-items: center;
    margin-bottom: 10px;
    transition: transform .2s;
    border-color: #000000;
    border-width: 3px;
    border-style: groove;
  }
}
@media (max-width: 500px) {
    .img {
      width: 100%;
    }
  }
  
.img {
  width: 100%;
  border-radius: 10px;
}
.msgCenter:hover {
    border-color: #000000;
    border-width: 1px;
    margin-top: 10%;
    transform: scale(1.1);
    cursor: pointer;
}
.flex-container {
    display: flex;
    flex-direction: row;
  } 
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 500px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }
}
.name-text{
    font-size: 20px;
    color: #000000;
    text-decoration: 'none';
}

.price-text{
  font-size: 15px;
  color: #ff0000;
  text-decoration: 'none';
}
.text-decoration-off{
  text-decoration: none;
}