.msgCenter {
    margin-left: 20px;
    width: 200px;
    margin-top: 10%;
    align-items: center;
    margin-bottom: 10px;
    transition: transform .2s;
    border-color: #000000;
    border-width: 3px;
    border-style: groove;

  }
@media (max-width: 500px) {
  .msgCenter {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    align-items: center;
    margin-bottom: 10px;
    transition: transform .2s;
    border-color: #000000;
    border-width: 3px;
    border-style: groove;
  }
}
@media (max-width: 500px) {
    .img {
      width: 100%;
    }
  }
  
.img {
  width: 100%;
}
.msgCenter:hover {
    border-color: #000000;
    border-width: 1px;
    margin-top: 10%;
    transform: scale(1.1);
    cursor: pointer;
}
.flex-container {
    display: flex;
    flex-direction: row;
  } 
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 500px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }
}
.msg-text{
    flex-direction: row;
    font-size: 15px;
    text-decoration: none;
}